---
import Base from "@/layouts/Base.astro";
import Title from "@/components/atoms/Title";
import type { CMSPage } from "@/types";
import { getCachedContents } from "@/libs/microcms";
import type { GetStaticPaths } from "astro";
import { fixedDescription } from "@/define";
import { css } from "@/styled-system/css";

export const getStaticPaths = (async () => {
	const response = await getCachedContents<CMSPage>("page");

	return response.map((content) => ({
		params: {
			page: content.id
		},
		props: {
			detail: content
		}
	}));
}) satisfies GetStaticPaths;

const { page } = Astro.params;
if (page === undefined) {
	return;
}

const { detail } = Astro.props;
---

<Base title={detail.title} description={`${detail.title}ページです。${fixedDescription}`}>
	<div
		class={css`
			display: flex;
			flex-direction: column;
			gap: 30px;
		`}
	>
		<Title>{detail.title}</Title>
		<div
			class={css`
				h3 {
					font-weight: bold;
					font-size: 23px;
					margin-top: 30px;
					margin-bottom: 20px;

					&:first-of-type {
						margin-top: 0;
					}
				}

				p {
					margin-bottom: 15px;
				}

				ul {
					margin-bottom: 15px;
					list-style-type: square;
				}

				a {
					color: #2c91fd;
					* {
						color: #2c91fd;
					}
				}

				strong {
					font-weight: bold;
				}
			`}
			set:html={detail.content}
		/>
	</div>
</Base>
