---
import Base from "@/layouts/Base.astro";
import type { DotIllust } from "@/types";
import { getCachedContents } from "@/libs/microcms";
import type { GetStaticPaths } from "astro";
import { formatDotList } from "@/libs/format-dotlist";
import { fixedDescription } from "@/define";
import Title from "@/components/atoms/Title";
import Pagination from "@/components/molecules/Pagination.astro";
import DotList from "@/components/templates/DotList";
import { css } from "@/styled-system/css";
import GoogleAds from "@/components/atoms/GoogleAds";

export const getStaticPaths = (async ({ paginate }) => {
	const response = (await formatDotList(await getCachedContents<DotIllust>("dot"))).filter((item) => {
		return item.illust.size === 16;
	});

	return paginate(response, { pageSize: 30 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Base
	title="16pxの新着ドット絵一覧"
	description={`16pxの新着ドット絵一覧ページです。${fixedDescription}`}
	canonical={`${Astro.site}16px/page/1`}
>
	<div
		class={css`
			display: flex;
			flex-direction: column;
			gap: 40px;
		`}
	>
		<div
			class={css`
				display: flex;
				flex-direction: column;
				gap: 20px;
			`}
		>
			<Title>16pxのドット絵一覧 {page.currentPage}ページ目</Title>
			<Pagination current={page.currentPage} last={page.lastPage} baseUrl="/16px/page/" />
		</div>
		<DotList dots={page.data.slice(0, 15)} />
		{
			page.data.length > 15 && (
				<>
					<GoogleAds slot="9512157076" />
					<DotList dots={page.data.slice(15)} />
				</>
			)
		}
		<Pagination current={page.currentPage} last={page.lastPage} baseUrl="/16px/page/" />
	</div>
</Base>
