---
import { fixedDescription, serviceTitle } from "@/define";
import "@akimeaki/reset-css";
import "@/panda.css";
import "@/global.scss";
import { getCachedContents } from "@/libs/microcms";
import type { DotIllustTag } from "@/types";
import { css } from "@/styled-system/css";
import GoogleAds from "@/components/atoms/GoogleAds";
import Sidebar from "@/components/organisms/Sidebar";

interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	ogImage?: string;
	notFound?: boolean;
	canonical?: string;
	publishedAt?: string | undefined;
	jsonld?: unknown[];
}

const path = Astro.url.pathname.replace(/^\//, "").replace(/\.html$/, "");

const {
	title,
	description = `${fixedDescription}素材は規約の範囲内であれば、クレジット表記の必要なしで個人、 法人、商用、非商用問わず無料でご利用頂けます。`,
	ogType = "article",
	ogImage = `${Astro.site}default-ogp.png`,
	notFound = false,
	canonical = `${Astro.site}${path}`,
	jsonld = []
} = Astro.props;

const pageTitle = title === undefined ? serviceTitle : `${title} - ${serviceTitle}`;

const tags = await getCachedContents<DotIllustTag>("tags");

const schema =
	jsonld.length === 0
		? [
				{
					"@context": "https://schema.org",
					"@type": "WebSite",
					name: serviceTitle,
					alternateName: serviceTitle,
					description,
					url: String(Astro.site),
					publisher: {
						"@type": "Organization",
						name: "篝之鼠",
						url: "https://kagari.aki.wtf/",
						logo: {
							"@type": "ImageObject",
							url: "https://kagari.aki.wtf/default-ogp.png",
							width: 512,
							height: 512
						}
					},
					image: {
						"@type": "ImageObject",
						url: `${Astro.site}default-ogp.png`,
						width: 512,
						height: 512
					}
				}
			]
		: jsonld;
---

<html lang="ja" prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="format-detection" content="email=no,telephone=no,address=no" />
		<meta name="author" content="彩季" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:url" content={`${Astro.site}${path}`} />
		<meta property="og:type" content={ogType} />
		<meta property="og:title" content={title ?? serviceTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content={serviceTitle} />
		<meta property="og:image" content={ogImage} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Akime_Aki" />
		<meta name="twitter:title" content={title ?? serviceTitle} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={ogImage} />
		<meta name="twitter:image" content={ogImage} />
		{notFound && <meta name="robots" content="noindex" />}
		<!-- Google Tag Manager -->
		<script is:inline>
			// prettier-ignore
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});const f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-M74W225P');
		</script>
		<!-- End Google Tag Manager -->
		<link rel="icon" href={`${Astro.site}favicon.ico`} />
		<link rel="sitemap" href={`${Astro.site}sitemap-index.xml`} />
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6914867149724943"
			crossorigin="anonymous"
			is:inline></script>
		{
			schema.map((item) => {
				return <script type="application/ld+json" is:inline set:html={JSON.stringify(item)} />;
			})
		}
		<title>{pageTitle}</title>
		{!notFound && <link rel="canonical" href={canonical} />}
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-M74W225P"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div
			class={css`
				width: 100%;
				height: 100svh;
				overflow-y: scroll;
			`}
		>
			<div
				class={css`
					display: flex;
					flex-direction: column;
				`}
			>
				<div
					class={css`
						flex: 1;
					`}
				>
					<header
						class={css`
							position: relative;
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 10px;
							justify-content: center;
							background-color: #ebae7e;
							padding: 30px 0;
							border: 7px solid #492b18;
						`}
					>
						<span
							class={css`
								position: absolute;
								top: 17px;
								left: 17px;
								content: "";
								display: block;
								width: 20px;
								height: 20px;
								background-color: #613e28;
							`}></span>
						<span
							class={css`
								position: absolute;
								top: 10px;
								left: 10px;
								content: "";
								display: block;
								width: 20px;
								height: 20px;
								background-color: #492b18;
							`}></span>

						<span
							class={css`
								position: absolute;
								bottom: 10px;
								right: 10px;
								content: "";
								display: block;
								width: 20px;
								height: 20px;
								background-color: #613e28;
							`}></span>
						<span
							class={css`
								position: absolute;
								bottom: 17px;
								right: 17px;
								content: "";
								display: block;
								width: 20px;
								height: 20px;
								background-color: #492b18;
							`}></span>
						<a
							aria-label="トップページ"
							class={css`
								text-decoration: none;
							`}
							href="/"
						>
							<h1
								class={css`
									display: inline-block;
									font-size: 30px;
									font-weight: bold;
									color: #86664f;
									text-shadow:
										1px 1px 0 #492b18,
										-1px -1px 0 #492b18,
										-1px 1px 0 #492b18,
										1px -1px 0 #492b18,
										0px 1px 0 #492b18,
										-1px 0 #492b18,
										-1px 0 0 #492b18,
										1px 0 0 #492b18;
								`}
							>
								どっとや
							</h1>
						</a>
						<p
							class={css`
								text-align: center;
								color: #313131;

								@media (max-width: 700px) {
									font-size: 14px;
								}
							`}
						>
							ドット絵のフリーイラスト素材屋さんです
						</p>
					</header>
					<main
						class={css`
							padding: 50px 10px;
							display: flex;
							gap: 30px;
							max-width: 1300px;
							width: 100%;
							margin: 0 auto;

							@media (max-width: 1130px) {
								flex-direction: column;
							}
						`}
					>
						<div>
							<Sidebar tags={tags} client:load />
						</div>
						<div
							class={css`
								flex: 1;
								min-width: 0;
							`}
						>
							<div
								class={css`
									position: relative;
								`}
							>
								<div><slot /></div>
								<div
									class={css`
										padding-top: 70px;
										overflow: hidden;
									`}
								>
									<GoogleAds slot="6502850359" />
								</div>
							</div>
						</div>
					</main>
				</div>

				<footer
					class={css`
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: #5b4942;
						height: 130px;
						font-family: "BestTenCRT";
						color: white;
						user-select: none;

						* {
							font-family: "BestTenCRT";
							color: white;
						}
					`}
				>
					<div
						class={css`
							display: flex;
							align-items: center;
							gap: 20px;
						`}
					>
						<div>Created by</div>
						<a
							aria-label="篝之鼠"
							href="https://kagari.aki.wtf"
							target="_blank"
							class={css`
								display: flex;
								align-items: center;
								gap: 10px;
								text-decoration: none;

								&:hover {
									color: #9deb83;

									* {
										color: #9deb83;
									}
								}
							`}
						>
							<div>篝之鼠</div>
							<img
								width={51}
								height={20}
								class={css`
									height: 20px;
									gap: 20px;
									display: block;
								`}
								alt="篝之鼠ロゴ"
								src="https://r2.aki.wtf/kagari-rat.png"
								loading="lazy"
							/>
							<div>かがりのす</div>
						</a>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>
