---
import Body from "@/components/templates/Body";
import { fixedDescription } from "@/define";
import "@akimeaki/reset-css";
import "@/global.scss";
import { getCachedContents } from "@/libs/microcms";
import type { DotIllustTag } from "@/types";

interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	ogImage?: string;
	notFound?: boolean;
	canonical?: string;
	publishedAt?: string | undefined;
	jsonld?: unknown[];
}

const path = Astro.url.pathname.replace(/^\//, "").replace(/\.html$/, "");

const {
	title,
	description = `${fixedDescription}素材は規約の範囲内であれば、クレジット表記の必要なしで個人、 法人、商用、非商用問わず無料でご利用頂けます。`,
	ogType = "article",
	ogImage = `${Astro.site}default-ogp.png`,
	notFound = false,
	canonical = `${Astro.site}${path}`,
	jsonld = []
} = Astro.props;

const serviceTitle = "どっとや";
const pageTitle = title === undefined ? serviceTitle : `${title} - ${serviceTitle}`;

const tags = await getCachedContents<DotIllustTag>("tags");

const schema = [
	{
		"@context": "https://schema.org",
		"@type": "WebSite",
		name: serviceTitle,
		alternateName: serviceTitle,
		description,
		url: String(Astro.site),
		publisher: {
			"@type": "Organization",
			name: serviceTitle,
			url: String(Astro.site),
			logo: {
				"@type": "ImageObject",
				url: `${Astro.site}default-ogp.png`,
				width: 512,
				height: 512
			}
		},
		image: {
			"@type": "ImageObject",
			url: `${Astro.site}default-ogp.png`,
			width: 512,
			height: 512
		}
	},
	...jsonld
];
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="format-detection" content="email=no,telephone=no,address=no" />
		<meta name="author" content="彩季" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:url" content={`${Astro.site}${path}`} />
		<meta property="og:type" content={ogType} />
		<meta property="og:title" content={title ?? serviceTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content={serviceTitle} />
		<meta property="og:image" content={ogImage} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Akime_Aki" />
		<meta name="twitter:title" content={title ?? serviceTitle} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={ogImage} />
		{notFound && <meta name="robots" content="noindex" />}
		<!-- Google Tag Manager -->
		<script is:inline>
			// prettier-ignore
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});const f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-M74W225P');
		</script>
		<!-- End Google Tag Manager -->
		<link rel="icon" href={`${Astro.site}favicon.ico`} />
		<link rel="sitemap" href={`${Astro.site}sitemap-index.xml`} />
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6914867149724943"
			crossorigin="anonymous"
			is:inline></script>
		{
			schema.map((item) => {
				return <script type="application/ld+json" is:inline set:html={JSON.stringify(item)} />;
			})
		}
		<title>{pageTitle}</title>
		{!notFound && <link rel="canonical" href={canonical} />}
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-M74W225P"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<Body tags={tags} client:load>
			<slot />
		</Body>
	</body>
</html>
