---
import Base from "@/layouts/Base.astro";
import type { Page } from "astro";
import type { DotData } from "@/libs/format-dotlist";
import { css } from "@/styled-system/css";
import Title from "@/components/atoms/Title";
import Pagination from "@/components/molecules/Pagination.astro";
import DotList from "@/components/templates/DotList";
import GoogleAds from "@/components/atoms/GoogleAds";
import { i18n } from "@/libs/i18n";
import type { Lang } from "@/define";
import { addArg, getText } from "@/libs/getI18n";
import { getLangPath } from "@/libs/lang-path";

interface Props {
	page: Page<DotData>;
	lang: Lang;
}

const { page, lang } = Astro.props;
const { translateData } = await i18n(lang);
---

<Base
	title={getText(translateData, "page_id_pageTitle")}
	description={`${getText(translateData, "page_id_description")}${getText(translateData, "fixedDescription")}`}
	canonical={`${Astro.site}${getLangPath("page/1", lang)}`}
	lang={lang}
>
	<div
		class={css`
			display: flex;
			flex-direction: column;
			gap: 40px;
		`}
	>
		<div
			class={css`
				display: flex;
				flex-direction: column;
				gap: 20px;
			`}
		>
			<Title>{addArg(getText(translateData, "page_id_title"), String(page.currentPage))}</Title>
			<Pagination current={page.currentPage} last={page.lastPage} baseUrl={getLangPath("/page/", lang)} />
		</div>
		<DotList dots={page.data.slice(0, 15)} lang={lang} translateData={translateData} />
		{
			page.data.length > 15 && (
				<>
					<GoogleAds slot="9512157076" />
					<DotList dots={page.data.slice(15)} lang={lang} translateData={translateData} />
				</>
			)
		}
		<Pagination current={page.currentPage} last={page.lastPage} baseUrl={getLangPath("/page/", lang)} />
	</div>
</Base>
